/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./container.css');

/* Form styles */
.loader {
  margin: 0 auto;
  width: 48px;
  height: 48px;
  border: 5px solid #4e75ff;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.form {
  width: 371px;
  margin: 36px auto 32px auto;
  display: flex;
  gap: 8px;
}

.form input {
  width: 272px;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms ease-in-out;
}

.form input:hover {
  border-color: #000;
}

.form input:focus {
  border-color: #4e75ff;
}
.form button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  border: none;
  background-color: #4e75ff;
  color: #fff;
  transition: background-color 250ms ease-in-out;
}

.form button:hover {
  background-color: #6c8cff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-top: 24px;
  justify-content: center;
}

.gallery-item {
  width: 360px;
  border: 1px solid grey;
}

.gallery-item img {
  height: 152px;
  width: 100%;
  object-fit: cover;
}

.stats-list {
  margin-top: 8px;
  display: flex;
  justify-content: space-around;
  list-style: none;
  max-width: 360px;
}

.stats-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats-title {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.stats-value {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
html {
  scroll-behavior: smooth;
}

.btn {
  display: block;
  margin: 32px auto;
  width: 125px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 125px;
  height: 40px;
  border: none;
  background-color: #4e75ff;
  color: #fff;
  transition: background-color 250ms ease-in-out;
}

.btn:hover {
  background-color: #6c8cff;
}

.hidden {
  display: none;
}
